/* src/css/Main_Header.css */
.mHeader {
    padding: 2vw; /* 여백 조정 */
    text-align: left;
    width: 100%; /* 전체 너비 사용 */
    position: fixed; /* 상단에 고정 */
    top: 0; /* 상단에 위치 */
    left: 0; /* 좌측에 위치 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 */
}

.ulStyle {
    list-style-type: none;
    font-size: 1.2vw;
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
}

.ulStyle li {
    display: inline-block; /* float: left 대신 inline-block 사용 */
    margin: 0.3vw;
}

a {
    text-decoration: none;
    color: white; /* 기본 텍스트 색상 설정 */
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.7vw;
    border: 2px white solid;
}
